
<html>
    <head>
        {% if title %}
        <title>{{ title }} - microblog</title>
        {% else %}
        <title>microblog</title>
        {% endif %}
    </head>
    <body>
        <div>
            Microblog:
            <a href="/index">Home</a>
            <a href="/curation">Curation</a>
            <a href="add_post_curation/3">Submit post</a>
            <a href="/shop">Shop</a>
            <a href="/steem">Deposit</a>

        </div>
        <hr>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

        {% block content %}{% endblock %}
    </body>
</html>
