{% extends "base.html" %}
{% block content %}


<h3>Welcome to the Collective Intelligence platform!</h3>
<p>
In this platform users have a chance to make steem from participation. These rewards are not based on your stake in the Steem platform, otherwise known as Steem Power/Vests, they are instead based more directly on your actions.
</p>
<h3> Curation System </h3>
<p>
Currently the main way to gain rewards is the curation system. In this system posts are submitted by users. After that judgements are made by users, and then our systems decide on the size of the vote the post should recieve. The better you do this the more rewards you earn, and the more your vote matters. You can buy tokens in the shop to have bonuses when your posts are put into our system, either by you or someone else.  There are tokens that give larger votes (upvote token), more publicity (advertisement token), and allow you to add posts to the curation system (add post token). The Upvote Token and the Advertisement Token are permanent, while a single Add Post token is lost on each use. Each user currently starts with 10 free tokens to add posts with. If bots start abusing this I will take it away from everyone.

<br><br>

Also posts in the trending page don't load correctly if they have both markdown and html in them, it's not intended but being worked on.</p>



{% endblock %}
