{% extends "base.html" %}
{% block content %}
<p>{{ MESSAGE }}</p>
<div
    class="card module shop"
>
    <div class="module__content">
        <form class="shop__form"  action= "/buy_token" method="POST">
            <select name="token" onchange="_ci.s.ui.select(this)">
                <option value="token-upvote-perm">Buying Upvote Tokens</option>
                <option value="adp_tok">Buying Post Tokens</option>
                <option value="ad-token-perm">Buying Ad Tokens</option>
            </select>
            <div class="shop__token">
                <div class="material-icons shop__token-icon">thumb_up</div>
            </div>
            <input type="number" name="amount" min="1" value="1"/><br>
            <div style="clear: both"></div>
            <table>
                <tr>
                    <td>
                        <div class="material-icons shop__form-account-icon">account_circle</div>
                    </td>
                    <td>
                        Account:
                        <input type="text" name="account" placeholder="Account Name"/><br>
                        Key:
                        <input type="password" name="key" placeholder="Key"/><br>
                    </td>
                    <td>
                        <input class="button shop__form-submit" type="submit" value="Buy">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<script>





select(e){
    let s;
    switch(e.value){
        case "token-upvote-perm":
            s = "thumb_up";
            break;
        case "adp_tok":
            s = "add_comment";
            break;
        case "ad-token-perm":
            // s = "trending_up";
            s = "visibility";
            break;
        default:
            s = "thumb_up";
    }
    e.parentElement.getElementsByClassName("shop__token-icon")[0]
        .innerText = s;
}



</script>

{% endblock %}
