{% extends "base.html" %}
{% block content %}
<p>{{ MESSAGE }}</p>
<div
    class="card module shop"
>
    <div class="module__content">
        <form class="shop__form"  action= "/buy_token" method="POST">
            <select name="token" onchange="_ci.s.ui.select(this)">
                <option value="token-upvote-perm">Buying Upvote Tokens - 0.5 GP ea</option>
                <option value="adp_tok">Buying Post Tokens - 0.05 GP ea</option>
                <option value="ad-token-perm">Buying Ad Tokens - 0.75 GP ea</option>
            </select>
            <div class="shop__token">
                <div class="material-icons shop__token-icon">thumb_up</div>
            </div>
            <input type="number" name="amount" min="1" value="1"/><br>
            <div style="clear: both"></div>
            <table>
                <tr>
                    <td>
                        <div class="material-icons shop__form-account-icon">account_circle</div>
                    </td>
                    <td>

                    </td>
                    <td>
                        <input class="button shop__form-submit" type="submit" value="Buy">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>










<div
    class="card module tokens"
>
    <div class="module__content">
        <div class="tokens__item">
            <table class="tokens__table">
                <tr>
                    <td class="tokens__token">
                        <div class="material-icons tokens__icon">thumb_up</div>
                    </td>
                    <td>
                        <table style="width: 100%;">
                            <tr>
                                <td class="tokens__amount" id="tokens__amount-upvote">
                                    0
                                </td>
                            </tr>
                            <tr>
                                <td class="tokens__label">
                                    Upvote Tokens
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="tokens__item">
            <table class="tokens__table">
                <tr>
                    <td class="tokens__token">
                        <div class="material-icons tokens__icon">add_comment</div>
                    </td>
                    <td>
                        <table style="width: 100%;">
                            <tr>
                                <td class="tokens__amount" id="tokens__amount-post">
                                    0
                                </td>
                            </tr>
                            <tr>
                                <td class="tokens__label">
                                    Post Tokens
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="tokens__item">
            <table class="tokens__table">
                <tr>
                    <td class="tokens__token">
                        <div class="material-icons tokens__icon">visibility</div>
                    </td>
                    <td>
                        <table style="width: 100%;">
                            <tr>
                                <td class="tokens__amount" id="tokens__amount-ad">
                                    0
                                </td>
                            </tr>
                            <tr>
                                <td class="tokens__label">
                                    Ad Tokens
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>











<script>

/**
 *  @function populateTokens fills out tokens display
 *  @arg {string} account Account name
 *  @arg {number} amount Amount of memos to check for user info
 */
function populateTokens(amount=50){
  console.log("start")

    getAccount("{{ name }}", amount, (e,r)=>{
        if(e) return false;
        document.getElementById('tokens__amount-upvote').innerText = r["token-upvote-perm"];
        document.getElementById('tokens__amount-post').innerText = r["adp_tok"];
        document.getElementById('tokens__amount-ad').innerText = r["ad-token-perm"];
    })
}



populateTokens()
</script>

{% endblock %}
